{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": [0],
    "react/prop-types": [0]
  }
}
