
.root {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  align-items: center;

  padding: 40px 20px;
}

.root input {
  width: 100%;
}

.container {
  display: block;
  max-width: 600px;
  width: 100%;
}

.container li {
  display: flex;

  align-items: center;
}

.container li > * + * {
  margin-left: 1rem;
}

.root button {
  height: 1.45rem;
  min-width: 1.45rem;
}
