.root {
  fill: #BAE4E5ee;
  stroke: #BAE4E5ee;
}

.root path {
  fill: inherit;
  stroke: inherit;
  stroke-width: 0;
}

.root circle {
  fill: inherit;
  stroke: inherit;
  stroke-width: 0;
}

.root .line {
  fill: none;
  stroke-width: 3px;
}
