
html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: relative;

  background: linear-gradient(5deg, #031634, #033649 120%);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  flex: 0 0 auto;
  position: relative;
  height: 2160px;
  width: 3840px;
}

text {
  fill: #E8DDCB;
  stroke-width: 0;
  font-size: 24px;
  text-transform: uppercase;
  user-select: none;
}

circle {
  fill: none;
  stroke: #E8DDCB;
  stroke-width: 3px;
}

path {
  fill: none;
  stroke: #E8DDCB;
  stroke-width: 3px;
}

.bounds {
  fill: none;
  stroke: none;
  pointer-events: fill;
}

.debug .bounds {
  fill: #333333;
  opacity: 0.1;
  stroke-width: 1px;
}

.debug .bounds:hover {
  fill: #555533;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
